/* 5 columns, percentage width */
.grid-item,
.grid-sizer {
  width: 50%;
}

.grid-item {
	float: left;
	height: 100px;
	background: #0D8;
	border: solid 2px black;
	counter-increment: item;
	transition: all 0.3s ease;
}

.grid-item:before {
	font-size: 20px;
	text-align: center;
	display: block;
	padding: 0.2em;
	content: counter(item);
}

.grid-item--width2 { width: 100%; }
.grid-item--height2 { height: 200px; }

.grid-item:hover {
	cursor: pointer;
    -webkit-transform: scale(.97);
    -ms-transform: scale(.97);
    transform: scale(.97);
}

@media (min-width: 992px) {
	.grid-item,
	.grid-sizer {
		width: 20%;
	}

	.grid-item--width2 { width: 40%; }
}

@media (min-width: 768px) {
	.grid-item,
	.grid-sizer {
		width: 25%;
	}

	.grid-item--width2 { width: 50%; }
}